# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
build/backend/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build files
dist/
build/icon.icns

# Logs
logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Frontend
frontend/dist/
frontend/node_modules/
